@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body  {
  background-color: #448EF3;
  background-image: linear-gradient(to top, #0B1625 0%, #448EF3 100%);
  margin: 0;
  background-repeat: no-repeat;
}

h2, h3 {
  font-size: 30px;
}

input#amount {
  font-size: 17px;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  border-radius: 5px;
  border: 2px solid black;
}

nav a {
  color: black;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  font-weight: bold;
}

nav li:hover {
  background-color: #DDDDD7;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

p {
  font-weight: bold;
}

select#category {
  font-size: 17px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  background-color: #3264a8;
  color: white;
  padding: .5em 1em;
  border-radius: .3em;
  border: none;
  cursor: pointer;
  height: 40px;
}

.btn:hover {
  background-color: hsl(200, 100%, 40%);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  background-color: white;
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.card-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5); 
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front {
  left: 0;
}

.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
  font-size: 20px;
}

.card .back {
  transform: rotateY(180deg);
}

.container {
  max-width: 900px;
  margin: 1rem 2rem;
}

.flashcard-form {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  position: relative;
  color: white;
  border: 2px solid white;
  margin: 0;
}

.flashcard-options {
  margin-top: .5rem;
}

.flashcard-option {
  margin-top: .25rem;
  color: #555;
  font-size: .85rem;
}

.flashcard-option:first-child {
  margin-top: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: .5rem;
}

.form-group > label {
  color: #777;
  font-size: 1rem;
  margin-bottom: .25rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 0 1.5rem;
  border-radius: 5px;
  border: 2px solid black;
}

#home-bottom-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.home-left-card {
  height: 30vh;
  width: 50vh;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  background-image: url("../../logos/leftcardimage.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.home-middle-card {
  height: 30vh;
  width: 50vh;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  background-image: url("../../logos/midcardimage.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.home-right-card {
  height: 30vh;
  width: 50vh;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  background-image: url("../../logos/rightcardimage.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.home-main-card {
  height: 50vh;
  border: 2px solid black;
  background: white;
  border-radius: 10px;
  background-image: url("../../logos/homepagebackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}

.home-main-left-content {
  position: relative;
  top: 10%;
  left: 5%;
  width: 25vh;
}

.home-main-right-content {
  position: relative;
  top: 10%;
  right: -69%;
  width: 25vh;
}

.joke {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  width: 30%;
  padding: 5px;
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
}

.joke-button {
  position: relative;
  top: -5%;
  background-color: #ed5d20;
}

.joke-container {
  padding-top: 40px;
  background-color: white;
  height: 500px;
  background-image: url("../../logos/chucknorrislogo.JPG");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  margin-top: 40px;
  position: relative;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  border: 2px solid black;
}

.logo {
  font-size: 55px;
  font-weight: bold;
}

#answer-label {
  font-size: 15px;
  font-weight: bold;
}

#category-label {
  color: black;
  font-weight: bold;
}

#form-button {
  background-color: hsl(200, 100%, 40%);
  font-size: 15px;
}

#question-label {
  font-size: 15px;
  font-weight: bold;
}

#questions-number-label {
  color: black;
  font-weight: bold;
}